body {
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
}
  .navbar .navbar-brand {
    text-align: center;
    display: block;
    
    width: 100%;
  }
  
  div.navbar-brand {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .navbar .navbar-brand > .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline-block;
  }
  
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 3em;
    color: black;

  }

  .pic {
    clip-path: circle();
  width: 300px;
  }

  .hi {
    font-size: calc(20px + 1vmin);
    font-weight: bold;
    color: #8e24aa;
  }

  @media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}

.footer {
  background-color: #fafafa ;
  height: 5vmin;
  font-size: 20px;
  
  
}
  .work {
    color: black;
  }

  .Hello {
    min-height: 50vh;
    
  }
.AS {
  font-weight: normal;
  font-family: "Poppins";
}
  .abtme {
    font-weight: normal;
    font-family: "Poppins";
  }

  .skills {
    font-family: "Poppins"
  }
  .resume {
    font-weight: bold;
  }
  
  h4 {
    font-family: "Poppins";
      margin-left: 5em;
      color: #455a64;
      
  }